<main>
  <app-sidebar [isVisible]="visibleSidebar === 'Sidebar'"  (close)="hideSidebar()" [title]="'Sidebar'"></app-sidebar>
  <div class="backdrop" [class.active]="visibleSidebar === 'Sidebar'"></div>
    <div class="reporting-container">
        <div class="head">
          <div class="heading">
            <div class="menu-icon" (click)="toggleSidebar('Sidebar')">
              <img src="icon/menu.png" alt="Menu Icon"  id="menu-icon">
            </div>
            <h1>Reporting</h1>
          </div>
            <input type="date" id="start-date">
        </div>
        

        <div class="cards">

            <div class="card-btn">
                <div class="card-content">
                    <button  (click)="toggleSidebar('addRecord')" id="record">+ Add Record</button>
                </div>
            </div>


            <div class="card">
              <div class="card-content">
                  <div class="icon-container" style="background-color: #eff5ff;">
                      <img src="icon/Heart.png" class="icon"/>
                  </div>
                  <div class="text-content">
                      <p class="number">178</p>
                      <p class="label">Total Users</p>
                  </div>
              </div>
            </div>
        
            <div class="card">
              <div class="card-content">
                  <div class="icon-container" style="background-color: #fff7e1;">
                    <img src="icon/Game.png" class="icon"/>
                  </div>
                  <div class="text-content">
                      <p class="number">20</p>
                      <p class="label">Active Users</p>
                  </div>
              </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="icon-container" style="background-color: #fff7e1;">
                      <img src="icon/Game.png" class="icon"/>
                    </div>
                    <div class="text-content">
                        <p class="number">20</p>
                        <p class="label">Active Users</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="header">
            <div class="filtering">
              <input type="search" placeholder="Search by ISBN, Title" id="search"/>
              <button (click)="toggleSidebar('filterReport')" id="filter">
                Filter
              </button>
            </div>
            <a href="#" class="print-record">
              <img src="icon/printer.png" class="print-icon"/>
              <span class="view-all">Print Filtered Record</span>
            </a>
        </div>


        <div class="records-table-container">
            <table class="records-table">
              <thead>
                <tr>
                  <th><input type="checkbox" /></th>
                  <th>ISBN</th>
                  <th>Title</th>
                  <th>Class Number</th>
                  <th>Copies</th>
                  <th>Range</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-cell="Select"><input type="checkbox" /></td>
                  <td data-cell="ISBN">876364</td>
                  <td data-cell="Title">Arorra gaur</td>
                  <td data-cell="Class Number">570/IZE</td>
                  <td data-cell="Copies">12</td>
                  <td data-cell="Range">09 - 283638</td>
                  <td data-cell="Action">
                    <div class="action-menu">
                      <button class="menu-btn">•••</button>
                      <div class="menu-dropdown">
                        <a href="#" class="act-btn">
                          <img src="icon/Edit.png" class="act-icon"/>
                          <span class="edit">Edit</span>
                        </a>
                        <a href="#" class="act-btn">
                          <img src="icon/Delete.png" class="act-icon"/>
                          <span href="#" class="delete">Delete</span>
                        </a>
                        <a class="act-btn">
                          <img src="icon/barcode.png" class="act-icon"/>
                          <span href="#" class="barcode">Regenerate Barcode</span>
                        </a>
                        <a class="act-btn">
                          <img src="icon/print.png" class="act-icon"/>
                          <span href="#" class="print">Print</span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td data-cell="Select"><input type="checkbox" /></td>
                  <td data-cell="ISBN">876364</td>
                  <td data-cell="Title">Arorra gaur</td>
                  <td data-cell="Class Number">570/IZE</td>
                  <td data-cell="Copies">12</td>
                  <td data-cell="Range">09 - 283638</td>
                  <td data-cell="Action">
                    <div class="action-menu">
                      <button class="menu-btn">•••</button>
                      <div class="menu-dropdown">
                        <a href="#" class="act-btn">
                          <img src="icon/Edit.png" class="act-icon"/>
                          <span class="edit">Edit</span>
                        </a>
                        <a href="#" class="act-btn">
                          <img src="icon/Delete.png" class="act-icon"/>
                          <span href="#" class="delete">Delete</span>
                        </a>
                        <a class="act-btn">
                          <img src="icon/barcode.png" class="act-icon"/>
                          <span href="#" class="barcode">Regenerate Barcode</span>
                        </a>
                        <a class="act-btn">
                          <img src="icon/print.png" class="act-icon"/>
                          <span href="#" class="print">Print</span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td data-cell="Select"><input type="checkbox" /></td>
                  <td data-cell="ISBN">876364</td>
                  <td data-cell="Title">Arorra gaur</td>
                  <td data-cell="Class Number">570/IZE</td>
                  <td data-cell="Copies">12</td>
                  <td data-cell="Range">09 - 283638</td>
                  <td data-cell="Action">
                    <div class="action-menu">
                      <button class="menu-btn">•••</button>
                      <div class="menu-dropdown">
                        <a href="#" class="act-btn">
                          <img src="icon/Edit.png" class="act-icon"/>
                          <span class="edit">Edit</span>
                        </a>
                        <a href="#" class="act-btn">
                          <img src="icon/Delete.png" class="act-icon"/>
                          <span href="#" class="delete">Delete</span>
                        </a>
                        <a class="act-btn">
                          <img src="icon/barcode.png" class="act-icon"/>
                          <span href="#" class="barcode">Regenerate Barcode</span>
                        </a>
                        <a class="act-btn">
                          <img src="icon/print.png" class="act-icon"/>
                          <span href="#" class="print">Print</span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
    <app-add-new-record [isVisible]="visibleSidebar === 'addRecord'"  (close)="hideSidebar()" [title]="'Add a New Record'"></app-add-new-record>
    <app-filter-report [isVisible]="visibleSidebar === 'filterReport'"  (close)="hideSidebar()" [title]="'Filter Report'"></app-filter-report>
</main>