main {
    display: flex;
}

.reporting-container {
    padding: 15px;
    padding-inline: 2rem;
    background-color: #fafafb;
    h1 {
      padding: 10px;
    }
    width: 100%;
}

.records-table-container {
    width: 100%;
    margin-bottom: 5%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-block: 2%;
  }
  
  .header h2 {
    margin: 0;
  }
  
  .header .view-all {
    color: red;
    text-decoration: none;
    font-weight: bold;
  }

.records-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .records-table th,
  .records-table td {
    padding: 20px;
    text-align: left;
  }
  
  .records-table th {
    background-color: #f5f5f5;
    color: #6c6c6c;
  }
  
  .records-table td {
    border-bottom: 1px solid #f0f0f0;
  }
  
  .records-table tbody tr {
    transition: background-color 0.3s;
  }
  
  .records-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
//   .records-table .highlight {
//     background-color: #eef6ed;
//   }
  
  .records-table input[type="checkbox"] {
    cursor: pointer;
  }
  
  .action-menu {
    position: relative;
    display: inline-block;
  }
  
  .menu-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .menu-dropdown a {
    display: block;
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
  }
  
  .menu-dropdown a:hover {
    background-color: #f5f5f5;
  }
  
  .menu-dropdown .delete {
    color: red;
  }
  
  .action-menu:hover .menu-dropdown {
    display: block;
  }

  #filter {
    background-color: #033600;
    font-size: 14px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    margin-left: 20px;
    border-width: 0;
  }

  #search {
    padding: 10px 30px;
    border-radius: 10px;
    border-width: 0;
  }