<main>
    <!-- <app-sidebar></app-sidebar> -->
    <div class="adduser-container">
        <h1>Add Users</h1>

        

        <div class="cards">

            <div class="card-btn">
                <div class="card-content">
                    <button (click)="toggleSidebar('addUser')" id="filter">+ Add User</button>
                </div>
            </div>


            <div class="card">
              <div class="card-content">
                  <div class="icon-container" style="background-color: #eff5ff;">
                      <img src="icon/Heart.png" class="icon"/>
                  </div>
                  <div class="text-content">
                      <p class="number">178</p>
                      <p class="label">Total Users</p>
                  </div>
              </div>
            </div>
        
            <div class="card">
              <div class="card-content">
                  <div class="icon-container" style="background-color: #fff7e1;">
                    <img src="icon/Game.png" class="icon"/>
                  </div>
                  <div class="text-content">
                      <p class="number">20</p>
                      <p class="label">Active Users</p>
                  </div>
              </div>
            </div>
        </div>



        <div class="filtering">
            <input type="search" placeholder="Search" id="search"/>
        </div>


        <div class="table-row">
            <div class="user-info">
                <img src="images/StephCurry.jpg" alt="Avatar" class="avatar" />
              <div class="user-details">
                <span class="user-name">Robert Bacins</span>
              </div>
            </div>
            <div class="user-email">robertbacins4182om</div>
            <div class="user-phone">0240345621</div>
            <div class="user-gender">
              <span class="gender-badge male">Male</span>
            </div>
            <div class="action-menu">
              <button class="menu-btn">•••</button>
              <div class="menu-dropdown">
                <a href="#" class="edit">Edit</a>
                <a href="#" class="delete">Delete</a>
              </div>
            </div>
        </div>


        <div class="table-row">
            <div class="user-info">
                <img src="images/StephCurry.jpg" alt="Avatar" class="avatar" />
              <div class="user-details">
                <span class="user-name">Robert Bacins</span>
              </div>
            </div>
            <div class="user-email">robertbacins4182om</div>
            <div class="user-phone">0240345621</div>
            <div class="user-gender">
              <span class="gender-badge male">Male</span>
            </div>
            <div class="action-menu">
              <button class="menu-btn">•••</button>
              <div class="menu-dropdown">
                <a href="#" class="edit">Edit</a>
                <a href="#" class="delete">Delete</a>
              </div>
            </div>
        </div>


        <div class="table-row">
            <div class="user-info">
                <img src="images/StephCurry.jpg" alt="Avatar" class="avatar" />
              <div class="user-details">
                <span class="user-name">Robert Bacins</span>
              </div>
            </div>
            <div class="user-email">robertbacins4182om</div>
            <div class="user-phone">0240345621</div>
            <div class="user-gender">
              <span class="gender-badge male">Male</span>
            </div>
            <div class="action-menu">
              <button class="menu-btn">•••</button>
              <div class="menu-dropdown">
                <a href="#" class="edit">Edit</a>
                <a href="#" class="delete">Delete</a>
              </div>
            </div>
        </div>


        <div class="table-row">
            <div class="user-info">
                <img src="images/StephCurry.jpg" alt="Avatar" class="avatar" />
              <div class="user-details">
                <span class="user-name">Robert Bacins</span>
              </div>
            </div>
            <div class="user-email">robertbacins4182om</div>
            <div class="user-phone">0240345621</div>
            <div class="user-gender">
              <span class="gender-badge male">Male</span>
            </div>
            <div class="action-menu">
              <button class="menu-btn">•••</button>
              <div class="menu-dropdown">
                <a href="#" class="edit">Edit</a>
                <a href="#" class="delete">Delete</a>
              </div>
            </div>
        </div>


        <div class="table-row">
            <div class="user-info">
              <img src="images/StephCurry.jpg" alt="Avatar" class="avatar" />
              <div class="user-details">
                <span class="user-name">Robert Bacins</span>
              </div>
            </div>
            <div class="user-email">robertbacins4182om</div>
            <div class="user-phone">0240345621</div>
            <div class="user-gender">
              <span class="gender-badge male">Male</span>
            </div>
            <div class="action-menu">
              <button class="menu-btn">•••</button>
              <div class="menu-dropdown">
                <a href="#" class="edit">Edit</a>
                <a href="#" class="delete">Delete</a>
              </div>
            </div>
        </div>
          
    </div>
    <!-- <app-user-profile></app-user-profile> -->
    <app-add-new-user [isVisible]="visibleSidebar === 'addUser'"  (close)="hideSidebar()" [title]="'Add New User'"></app-add-new-user>
</main>