/* Card styling */
.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .card {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

  
    .card-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
  }

  .card:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Icon container */
  .icon-container {
    border-radius: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Heart icon */
  .icon {
    width: 40px;
    height: auto;
  }
  
  /* Text content */
  .text-content {
    margin-left: 15px;
  }
  
  /* Number styling */
  .number {
    margin: 0;
    font-size: 35px;
    color: #4a4a4a;  /* Dark grey */
    font-weight: 500;
  }
  
  /* Label styling */
  .label {
    margin: 0;
    color: #7a7a7a;  /* Light grey */
    font-size: 15px;
    font-weight: 500;
  }

/* Responsive styling */
@media screen and (max-width: 768px) {
    .cards {
        width: 100%;
      flex-direction: column; /* Stacks the cards vertically on smaller screens */
      gap: 1rem; /* Adjust gap for smaller screens */
    }
  
    .card {
      width: 100%; /* Ensure the cards take full width when stacked */
    }
  
    .card-content {
      flex-direction: column; /* Ensure the content inside the card is stacked as well */
      text-align: center; /* Center text content */
    }
  
    .text-content {
      margin-left: 0; /* Remove left margin for better alignment */
      margin-top: 10px; /* Add some spacing between icon and text */
    }
  }