<div class="cards">
    <div class="card">
      <div class="card-content">
          <div class="icon-container" style="background-color: #eff5ff;">
              <img src="icon/Heart.png" class="icon"/>
          </div>
          <div class="text-content">
              <h1 class="number">178</h1>
              <p class="label">Fiction Record</p>
          </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
          <div class="icon-container" style="background-color: #fff7e1;">
            <img src="icon/Game.png" class="icon"/>
          </div>
          <div class="text-content">
              <h1 class="number">200</h1>
              <p class="label">Non Fiction Records</p>
          </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
          <div class="icon-container" style="background-color: #fff4f1;">
            <img src="icon/Bag.png" class="icon"/>
          </div>
          <div class="text-content">
              <h1 class="number">190</h1>
              <p class="label">Total Records</p>
          </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="icon-container" style="background-color: #fff4f1;">
            <img src="icon/Bag.png" class="icon"/>
          </div>
          <div class="text-content">
              <h1 class="number">190</h1>
              <p class="label">Todays Records</p>
          </div>
      </div>
    </div>
  </div>