
<div class="sidebar">
  <div class="sidebar-header">
      <img src="images/image 1.png" alt="GHLA Logo">
      <h2 class="company-name">Accession Register</h2>
  </div>
  <ul class="sidebar-menu">
      <li class="menu-item">
        <img src="icon/Category.png" alt="dashboard-icon" id="icon">
        <span>Dashboard</span>
      </li>
      <li class="menu-item">
        <img src="icon/report.png" alt="report-icon" id="icon">
        <span>Reporting</span>
      </li>
      <li class="menu-item">
        <img src="icon/users.png" alt="user-icon" id="icon">
        <span>Add User</span>
      </li>
  </ul>
  <div class="sidebar-footer">
      <div class="user-profile">
        <a href="">
          <img src="images/StephCurry.jpg" alt="User Avatar" class="user-avatar">
          <div>
            <p class="user-name">John Doe</p>
            <p class="account-type">Free Account</p>
          </div>
        </a>
      </div>
      <div>
        <a href=""><img src="icon/Logout1.png" alt="Logout" id="logout"></a>
      </div>
  </div>
</div>
