.sidebar {
  position: sticky;       /* Makes the sidebar static (fixed to the viewport) */
  top: 0;                /* Stick to the top of the page */
  left: 0;
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;         /* Ensures the sidebar stays on top of other elements */
  // border-right: 1px solid #033600;
}

.sidebar-header {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.company-logo {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.company-name {
  color: #033600;
  font-size: 20px;
  font-weight:500;
}

.sidebar-menu {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

.menu-item {
  padding: 15px 20px 15px 40px;
  font-size: 18px;
  font-weight: 500;
  color: #033600;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  transition: background 0.3s;
}

.menu-item:hover {
  background: linear-gradient(90deg, #0336002c, #03360000, #03360000, #03360000, #03360000)
}

.menu-icon {
  margin-right: 15px;
}


.sidebar-footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 1rem;
  padding: 20px;
  gap: 4rem;
}

.user-profile a {
  display: flex;
  align-items: center;
  color: #033600;
  text-decoration: none;
}

.user-avatar {
  width: 45px;
  height: 50px;
  border-radius: 20%;
  margin-right: 10px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.account-type {
  font-size: 12px;
}

.sidebar .menu-item.active-link {
  background: linear-gradient(90deg, #0336002c, #03360000, #03360000, #03360000, #03360000)
}

