<!-- dashboard.component.html -->
<div class="dashboard-container">
  <app-sidebar [isVisible]="visibleSidebar === 'Sidebar'"  (close)="hideSidebar()" [title]="'Sidebar'"></app-sidebar>

    <!-- Backdrop overlay for blurring the dashboard -->
    <div class="backdrop" [class.active]="visibleSidebar === 'Sidebar'"></div>

  <main>
    <div class="head">
      <div class="menu-icon" (click)="toggleSidebar('Sidebar')">
        <img src="icon/menu.png" alt="Menu Icon"  id="menu-icon">
      </div>
      <h1>Dashboard</h1>
    </div>
    <app-stat-card></app-stat-card>

    <div class="analytics">
      <app-line-chart></app-line-chart>
      <app-donut-chart></app-donut-chart>
    </div>
    
    


    <div class="header">
      <h2>Records Table</h2>
      <a href="#" class="view-all">View all</a>
    </div>
    <div class="records-table-container">
      <table class="records-table">
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Class Number</th>
            <th>Copies</th>
            <th>Range</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-cell="Select"><input type="checkbox" /></td>
            <td data-cell="ISBN">876364</td>
            <td data-cell="Title">Arorra gaur</td>
            <td data-cell="Class Number">570/IZE</td>
            <td data-cell="Copies">12</td>
            <td data-cell="Range">09 - 283638</td>
            <td data-cell="Action">
              <div class="action-menu">
                <button class="menu-btn">•••</button>
                <div class="menu-dropdown">
                  <a class="act-btn" (click)="toggleSidebar('editRecord')">
                    <img src="icon/Edit.png" class="act-icon"/>
                    <span class="edit">Edit</span>
                  </a>
                  <a href="#" class="act-btn">
                    <img src="icon/Delete.png" class="act-icon"/>
                    <span href="#" class="delete">Delete</span>
                  </a>
                  <a class="act-btn">
                    <img src="icon/barcode.png" class="act-icon"/>
                    <span href="#" class="barcode">Regenerate Barcode</span>
                  </a>
                  <a class="act-btn">
                    <img src="icon/print.png" class="act-icon"/>
                    <span href="#" class="print">Print</span>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td data-cell="Select"><input type="checkbox" /></td>
            <td data-cell="ISBN">876364</td>
            <td data-cell="Title">Arorra gaur</td>
            <td data-cell="Class Number">570/IZE</td>
            <td data-cell="Copies">12</td>
            <td data-cell="Range">09 - 283638</td>
            <td data-cell="Action">
              <div class="action-menu">
                <button class="menu-btn">•••</button>
                <div class="menu-dropdown">
                  <a class="act-btn" (click)="toggleSidebar('editRecord')">
                    <img src="icon/Edit.png" class="act-icon"/>
                    <span class="edit">Edit</span>
                  </a>
                  <a href="#" class="act-btn">
                    <img src="icon/Delete.png" class="act-icon"/>
                    <span href="#" class="delete">Delete</span>
                  </a>
                  <a class="act-btn">
                    <img src="icon/barcode.png" class="act-icon"/>
                    <span href="#" class="barcode">Regenerate Barcode</span>
                  </a>
                  <a class="act-btn">
                    <img src="icon/print.png" class="act-icon"/>
                    <span href="#" class="print">Print</span>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td data-cell="Select"><input type="checkbox" /></td>
            <td data-cell="ISBN">876364</td>
            <td data-cell="Title">Arorra gaur</td>
            <td data-cell="Class Number">570/IZE</td>
            <td data-cell="Copies">12</td>
            <td data-cell="Range">09 - 283638</td>
            <td data-cell="Action">
              <div class="action-menu">
                <button class="menu-btn">•••</button>
                <div class="menu-dropdown">
                  <a class="act-btn" (click)="toggleSidebar('editRecord')">
                    <img src="icon/Edit.png" class="act-icon"/>
                    <span class="edit">Edit</span>
                  </a>
                  <a href="#" class="act-btn">
                    <img src="icon/Delete.png" class="act-icon"/>
                    <span href="#" class="delete">Delete</span>
                  </a>
                  <a class="act-btn">
                    <img src="icon/barcode.png" class="act-icon"/>
                    <span href="#" class="barcode">Regenerate Barcode</span>
                  </a>
                  <a class="act-btn">
                    <img src="icon/print.png" class="act-icon"/>
                    <span href="#" class="print">Print</span>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-edit-record [isVisible]="visibleSidebar === 'editRecord'"  (close)="hideSidebar()" [title]="'Edit Record'"></app-edit-record>
    
    
  </main>
</div>

