<!-- dashboard.component.html -->
<div class="dashboard-container">
  <!-- <app-sidebar></app-sidebar> -->
  <main>
    <h1>Dashboard</h1>
    <app-stat-card></app-stat-card>

    <div class="analytics">
      <app-line-chart></app-line-chart>
      <app-donut-chart></app-donut-chart>
    </div>
    
    


    <div class="header">
      <h2>Records Table</h2>
      <a href="#" class="view-all">View all</a>
    </div>
    <div class="records-table-container">
      <table class="records-table">
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Class Number</th>
            <th>Copies</th>
            <th>Range</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-cell="Select"><input type="checkbox" /></td>
            <td data-cell="ISBN">876364</td>
            <td data-cell="Title">Arorra gaur</td>
            <td data-cell="Class Number">570/IZE</td>
            <td data-cell="Copies">12</td>
            <td data-cell="Range">09 - 283638</td>
            <td data-cell="Action">
              <div class="action-menu">
                <button class="menu-btn">•••</button>
                <div class="menu-dropdown">
                  <a href="#" class="edit">Edit</a>
                  <a href="#" class="delete">Delete</a>
                  <a href="#" class="barcode">Regenerate Barcode</a>
                  <a href="#" class="print">Print</a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td data-cell="Select"><input type="checkbox" /></td>
            <td data-cell="ISBN">876364</td>
            <td data-cell="Title">Arorra gaur</td>
            <td data-cell="Class Number">570/IZE</td>
            <td data-cell="Copies">12</td>
            <td data-cell="Range">09 - 283638</td>
            <td data-cell="Action">
              <div class="action-menu">
                <button class="menu-btn">•••</button>
                <div class="menu-dropdown">
                  <a href="#" class="edit">Edit</a>
                  <a href="#" class="delete">Delete</a>
                  <a href="#" class="barcode">Regenerate Barcode</a>
                  <a href="#" class="print">Print</a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td data-cell="Select"><input type="checkbox" /></td>
            <td data-cell="ISBN">876364</td>
            <td data-cell="Title">Arorra gaur</td>
            <td data-cell="Class Number">570/IZE</td>
            <td data-cell="Copies">12</td>
            <td data-cell="Range">09 - 283638</td>
            <td data-cell="Action">
              <div class="action-menu">
                <button class="menu-btn">•••</button>
                <div class="menu-dropdown">
                  <a href="#" class="edit">Edit</a>
                  <a href="#" class="delete">Delete</a>
                  <a href="#" class="barcode">Regenerate Barcode</a>
                  <a href="#" class="print">Print</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
  </main>
</div>

