  .profile-card {
    position: sticky;
    top: 0;     
    right: 0;
    width: 40vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 997;  
  }
  
  .user-info {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-info h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  }
  
  .user-info p {
    font-size: 14px;
    color: #888;
  }

  .contact-info {
    text-align: left;
    margin-inline: 30px;
    border-top: 1px solid #e0e0e0;
    padding-top: 25px;
    margin-top: 10px;
  }
  
  .contact-info h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 14px;
    margin: 25px 0;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .contact-info img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .records {
    margin-top: 10px;
  }
  
  .records h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .bar-chart {
    margin: 0 auto;
  }
  
  .donut-charts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .donut-chart {
    text-align: center;
    margin-bottom: 10px;
  }
  
  
  .donut-chart p {
    font-size: 14px;
    margin-top: 20px;
  }

  .close-btn {
    display: none;
  }


  @media (max-width: 768px) {
    .profile-card {
      position: fixed;
      top: 0; 
      right: -100vw; 
      width: 100vw;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding-top: 4rem;
      transition: right 0.3s ease; 
      background-color: #fff;
      overflow: auto;
    }
  
    .profile-card.open {
      right: 0; 
    }

    .close-btn {
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 30px;
      cursor: pointer;
      color: #ee5d6f;
      background-color: #fef3f5;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  